In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [5]:
cursor.execute('''
create table if not exists employees(
    id integer primary key,
    name text not null,
    age Integer,
    department text)
''')

connection.commit()

In [7]:
cursor.execute('''
select * from employees
                ''')

In [8]:
cursor.execute('''
Insert into employees(name,age,department)
               values('john',25,'sales')
''')

cursor.execute('''
INSERT INTO employees(name,age,department)
                values('jane',30,'marketing')
''')

cursor.execute('''
Insert into employees(name,age,department)
               values('jill',22,'technology')
''')

connection.commit()

In [ ]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'john', 25, 'sales')
(2, 'jane', 30, 'marketing')
(3, 'jill', 22, 'technology')

In [10]:
cursor.execute('''
Update employees set age=26 where name='john'
''')

connection.commit()

In [11]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'john', 26, 'sales')
(2, 'jane', 30, 'marketing')
(3, 'jill', 22, 'technology')

In [12]:
cursor.execute('''
delete from employees where name='jill'
''')

connection.commit()

In [13]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'john', 26, 'sales')
(2, 'jane', 30, 'marketing')

In [14]:
connection.close()